<div class="row">
    <div class="col-4 offset-4">
        <p>Select car company</p>
        <select #Car class="form-select" aria-label="Default select example" (change)="getCar(Car.value)">
            <option value="Select">Select car</option>
            <option value="0">Ferrari</option>
            <option value="1">Lamborghini</option>
            <option value="2"> Mercedes-Benz</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-4 offset-4 ">
        <div class="alert alert-danger" role="alert" *ngIf="isValid">
            Please select car
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4 offset-4" *ngIf="showCar">
        <app-child [item]="chosenCar"></app-child>
    </div>
</div>
